#gameOver {
    display: none;
}

.gameOverMenu {
    top: 64%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
}

.gameOverIcon {
    top: 22%;
    left: 37%;
    width: 284px;
    height: 173px;
    transform: translate(-50%, -50%);
    position: absolute;
    animation: 1600ms pulsate infinite alternate ease-in-out;
}

@keyframes pulsate {
    0% { transform: scale(1); }
    50% { transform: scale(1.2); }
    100% { transform: scale(1); }
}
