/**
 * spiel starten button, übung starten button, anleitung button
 */

.menuContainer {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 1100px;
    height: 700px;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.4);
}

.menu {
    top: 63%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
}

.menuBtn {
    color: black;
    width: 250px;
    height: 70px;
    text-align: center;
    display: block;
    margin: 4px 2px;
    font-size: 20px;
    font-family: "Verdana", sans-serif;
    cursor: pointer;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.7);
    border: 2px solid rgba(255, 255, 255, 0.7);
    box-shadow: 0 0 5px black;
    transition: all 0.3s ease-out;
}

.menuBtn:hover {
    background-color: rgba(255, 255, 255, 0.8);
    color: red;
    transition: all 0.3s ease-out;
    transform: scaleX(1.03);
}

#anleitung {
    width: 700px;
    height: 475px;
    overflow: hidden;
    background: #f1f1f1;
    box-shadow: 0 0 20px black;
    border-radius: 8px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
    padding: 10px;
    text-align: center;
    display: none;
}

#anleitung p {
    color: #342;
    font-family: "Verdana", sans-serif;
    font-size: 18px;
    margin-top: 11px;
}

#anleitung .gitHubText {
    font-size: 14px;
}

#anleitung .gitHubText a {
    color: #342;
}

.closeAnleitung {
    font-size: 18px;
    font-family: "Verdana", sans-serif;
    color: darkred;
    padding: 10px 20px;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.7);
    border: 2px solid rgba(255, 255, 255, 0.7);
    display: inline-block;
    border-radius: 4px;
    transition: all 0.3s ease-out;
}

.closeAnleitung:hover {
    background-color: rgba(255, 255, 255, 0.8);
    color: red;
    transition: all 0.3s ease-out;
    transform: scaleX(1.03);
    box-shadow: 0 0 10px black;
}
