/**
 * 1 player button, 2 player button, übung button, anleitung button
 */
#einspielerBtn{
     background-color: black;
     border: none;
     color: white;
     padding: 15px 26px;
     top: 77px;
     left: 540px;
     width: 200px;
     height: 50px;
     text-align: center;
     text-decoration: none;
     display: inline-block;
     position: absolute;
     margin: 4px 2px;
     font-size: 20px;
     cursor: pointer;
 }

#zweispielerBtn{
     background-color: black;
     border: none;
     color: white;
     padding: 15px 26px;
     top: 163px;
     left: 540px;
     width: 200px;
     height: 50px;
     text-align: center;
     text-decoration: none;
     display: inline-block;
     position: absolute;
     margin: 4px 2px;
     font-size: 20px;
     cursor: pointer;
}

#ubungBtn{
   background-color: black;
   border: none;
   color: white;
   padding: 4px 20px;
   top: 245px;
   left: 540px;
   width: 200px;
   height: 50px;
   text-align: center;
   text-decoration: none;
   display: inline-block;
   position: absolute;
   margin: 4px 2px;
   font-size: 20px;
   cursor: pointer;
}

#anleitungBtn{
    background-color: black;
    border: none;
    color: white;
    padding: 4px 20px;
    top: 330px;
    left: 540px;
    width: 200px;
    height: 50px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    position: absolute;
    margin: 4px 2px;
    font-size: 20px;
    cursor: pointer;
}

#box {
    width: 500px;
    height: 275px;
    overflow: hidden;
    background: #f1f1f1;
    box-shadow: 0 0 20px black;
    border-radius; 8px;
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
    padding: 10px;
    text-align: center;
    display: none;
}

#box h1{
    color: #333
}
.close{
    font-size: 18px;
    color: white;
    padding: 10px 20px;
    cursor: pointer;
    background: #3498db;
    display: inline-block;
    border-radius: 4px;
}